body{
    font-family: 'Space Mono' sans-serif;
    font-family: 'Monserrat ' sans-serif;
    margin: 0;
    background: #1C1C28;
    border-radius: 10px;
}
.container{
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
}
.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__content_nav{
    display: flex;
    gap: 30px;
}
.header__content_nav-link{
    color: var(--text-icon-secondary, #C8C7D8);
    font-family: Space Mono;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
    text-decoration: none;
    gap: 20px;
}
.button{
    color: var(--text-icon-primary, #FFF);
    font-family: Circular Std;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 7.29px;
    background: var(--accent-brand, #6966FF);
    border-color: #6966FF;
    padding: 12px 16px;
}
@media screen and (max-width:807px) {
    .header__content_nav-link{
        display: none;
    }
}
@media screen and (max-width:320px) {
    .button{
        display: flex;
        align-items: center;
        width: 80px;
        height: 40px;
        font-size: 15px;
        
    }
    .button span{
        display: none;
    }
}   
.hero_content{
    padding: 86px 0;
}
.hero_content_title{
    color: var(--text-icon-primary, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Circular Std;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px; 
    letter-spacing: -1.76px;
}
.hero_svg{
     display: flex;
     align-items: center;
     justify-content: end;
     padding: 0 60px;
     max-width: 1200px;

}
.hero_button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding: 16px 0;
}
.hero-button1{
    width: 200px;
    height: 50px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    border-radius: 7.29px;
    background: #393939;
    border-color: #393939;
}
.hero-button2{
    width: 200px;
    height: 50px;
    color:  #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    border-radius: 7.29px;
    background:  #6966FF;
    border-color: #6966FF;
}
.hero_icon{
    width: 12px;
}
@media screen and (max-width:656px) {
    .hero_content_title{
        font-size: 60px;
    }
}
@media screen and (max-width:512px) {
    .hero_content_title{
        font-size: 50px;
    }
}
@media screen and (max-width:320px) {
    .hero_content_title{
        font-size: 45px;
    }
}
@media screen and (max-width:320px) {
    .hero_svg2{
        width: 200px;
        
    }
}
@media screen and (max-width:320px) {
    .hero_button{
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;

    }
}
@media screen and (max-width:320px) {
    .hero-button1{
        width: 300px;
    }
}
@media screen and (max-width:320px) {
    .hero-button2{
        width: 300px;
    }
}
.number_title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    list-style: none;
}
.number_title-text{
    color: var(--text-icon-secondary, #C8C7D8);
    font-family: Space Mono;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
    text-decoration: none;
    gap: 20px;
    margin: 0;
    text-align: center;
}
.number_title-nav{
    color:  #C8C7D8;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: 24px; 
    letter-spacing: -0.252px;
    text-decoration: none;
}
@media screen and (max-width:320px) {
    .number_title{
        display: grid;
        grid-template-columns: 1fr ;
        text-align: center;
    }
}
.icon_img-svg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0 20px;
}
.projects_title{
    text-align: center;
    margin: 0;
    padding: 0;
}
.projects_title-text{
    color: var(--text-icon-primary, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Circular Std;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px; 
    letter-spacing: -1.76px;
    margin: 0;
}
.projects_title-text2{
    color: var(--text-icon-secondary, #C8C7D8);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Circular Std;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.252px;
}
.projects_title-text3{
    color: #6966FF;
    font-size: 25px;
    font-weight: 200;
}
.projects_icon{
    color: #6966FF;
}
